@page
@model RepDeck.ActivityModel
@{
    ViewData["Title"] = "Activity";
}

<div class="text-center vibe">
    <h1>Your New Deck Experience:</h1>
</div>
<div class="counter">
    <div class="nums">
        <span class="in vectro-body">3</span>
        <span class="vectro-red">2</span>
        <span class="vectro-green">1</span>
        <span class="vectro-blue">0</span>
    </div>
</div>
<div class="final">
    <div class="card-group">
        <div class="card border-warning nb-3">
            <div class="card-body">
                <h5 class="card-title vibe" id="name">@Model.currentDeck.cardDeck[0].name</h5>
                <h6 class="card-subtitle text-muted" id="muscleGroup">Targets @Model.currentDeck.cardDeck[0].muscleGroup</h6>
                <ul class="list-group list-group-flush" id="list">
                    @for (int i = 1; i < Model.currentDeck.cardDeck[0].description.Split(")").Length; i++)
                    {
                    <li class="list-group-item" style="margin:2px">@Model.currentDeck.cardDeck[0].description.Split(")")[i].Split(".")[0]</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<button onclick="send('@Model.currentDeck.deckGuid')" id="next" class="btn border-info">Next</button>
<script src="~/lib/signalr/signalr/dist/browser/signalr.js"></script>
<script src="~/js/exercise.js"></script>

