@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1 class="vectro"><span class="vectro-body">I don't even know man I just don't steal your data</span><span class="vectro-red">;)</span></h1>
